#product--list ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

#product--list h1 {
  font-size: 20px;
}

#product--list li {
  width: 220px;
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  #product--list li {
    width: 92%;
  }
}
