.product--item input {
  width: 50px;
}

.product--item h2 {
  font-size: 16px;
}
.product--item p {
  margin: 8px 0;
}
.product--item .price {
  color: #767676;
  font-weight: 800;
  margin: 0;
}
.product--item .btn-dark {
  color: #fff;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .product--item img {
    width: 100%;
  }
}
