nav {
  height: 40px;
  background-color: #F4F5F4;
}
nav img {
  height: 21px;
  box-sizing: border-box;
  margin: 10px;
  padding-right: 31px;
}
nav .container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
nav .action-buttons {
  float: right;
}
nav .total-qty {
  height: 16px;
  width: 16px;
  background-color: #f34343;
  border-radius: 50%;
  display: inline-block;
  margin: -18px;
  position: relative;
  top: -11px;
  font-size: 12px;
  color: white;
  right: 31px;
}
