#cart-panel.modal-container {
  position: absolute;
  width: 390px;
  background: #ffffff;
  right: 0%;
  top: 0%;
  padding: 0px;
}

#cart-panel .modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #e5e5e5;
  margin: auto;
}

#cart-panel .modal-footer .subtotal{
display: flex;
justify-content: space-between;
}
#cart-panel .modal-footer {
background-color: #f5f5f5;
padding: 1.5rem 2rem;
border-width: 0;
}
.close {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  border: none;
  color: #dadbda;
  cursor: pointer;
  display: inline;
  margin: 0;
  moz-appearance: none;
  padding: 0;
  position: absolute;
  right: 1.5rem;
  text-decoration: none;
  top: 1.5rem;
  z-index: 1030;
  font-size: 22px;
}
#cart-panel h1 {
  margin: auto;
  font-weight: 500;
  font-size: 20px;
}
.btn-dark {
color: #fff;
background-color: #1f1f1f;
border-color: #1f1f1f;
padding: 20px;
margin: auto;
display:block;
text-align: center;
text-decoration: none;
}
.checkout{
  margin-top: 40px;
}
