.cart-item {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid #d4d4d4;
}
.cart-item .product-img {
  width: 100px;
}
.cart-item .product-img img {
  width: 100%;
}
#cart-panel .cart-item .product-detail h1 {
  font-size: 14px;
}
.cart-item .product-detail {
  margin-left: 20px;
  width: 220px;
}
.cart-item .product-detail .actions {
  margin-top: 10px;
}
.remove {
  float: right;
  color: #767676;
}
.text-muted {
  color: #767676;
  font-size: 14px;
}
